body{
    background-image: url(back.jpg);
   
}
.main{
    background-image: url(back2.jpg);
    height: auto;
    background-attachment: fixed;
    text-align: center;
    padding-top: 20px;
    color: #FFFFFF;
    
   
    
}
h1{
    background: linear-gradient(45deg, rgb(16, 187, 73),rgb(201, 31, 8) );
    border-radius: 100px;
    margin-left: 300px;
    margin-right: 300px;
}
h3{
    color: tomato;
    background: white;
    margin-left: 400px;
    margin-right: 400px;
    border-radius: 100%;

}
.c1{
    width: 300px;
    height: 250px;
    background-color: white;
}
#n{
    border: 6px solid rgb(15, 12, 12);
}
#t{
   border: 3px solid rgb(131, 17, 9);
   color: rgb(14, 199, 212);
   font-size: x-large;
   font-weight: bolder;
   background-color: rgb(219, 25, 11);
}

